input{
    padding: 0.7rem;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    
}

form{
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    height: 100vh;
}